#config file

config = {
    #sleep time for main loop in seconds
    'sleepTime' : {
        'updatedMin': 3600,
        'updatedMax': 7200,
        'noNeedMin' : 600,
        'noNeedMax' : 900,
        'errorMin'  : 10,
        'errorMax'  : 15,
    },

    #configuration for dnspod api
    'url' : 'https://dnsapi.cn/Record.Modify', 
    'data' : {
        'login_token'   :'',
        'format'        :'',
        'domain'        :'',
        'record_id'     :'',
        'sub_domain'    :'',
        'record_type'   :'',
        'record_line_id':''
        # 'value'         :'',
    },
}
